@font-face {
  font-family: 'AboveTheBeyondScript';
  src: url('https://raw.githubusercontent.com/lm-945/sturdy-eureka/main/AboveTheBeyondScript-Regular%5B1%5D.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
